.image-smear-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: cover;
    width: 100%;
}

.image-smear-page p {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.image-smear-page canvas {
    cursor: crosshair;
}

.image-smear-page canvas:active {
    cursor: grabbing;
}


.checker-bg {
    background-image: linear-gradient(45deg, #bfbfbf 25%, transparent 25%),
    linear-gradient(-45deg, #bfbfbf 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #bfbfbf 75%),
    linear-gradient(-45deg, transparent 75%, #bfbfbf 75%);
    background-size: 20px 20px;
    background-position: 0 0,
    0 10px,
    10px -10px,
    -10px 0px;
}

.threed-page {
    width: 100%;
    height: 100vh;
    cursor: grab;
}

.dvd-page {
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
}

.dvd-page .dvd {
    position: absolute;
    width: 10rem;
    height: 10rem;
    color: black;
    font-size: 2rem;
    font-family: sans-serif;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dvd-page .dvd-ball {
    position: absolute;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    background: transparent !important;
}

.interaction-page {
    min-height: 100vh;
    /* background: url('https://512pixels.net/downloads/macos-wallpapers-thumbs/10-3--thumb.png');
    background-size: cover; */
}

.window {
    width: 40vw;
    min-width: 40vw;
    min-height: 25vw;
    background: grey;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    position: absolute;
}

.window.fullscreen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none !important;
}
.window .toolbar {
    display: flex;
    padding: 8px;
    cursor: grab;
}
.window .toolbar h3 {
    flex: 1;
    text-align: center;
    
}

.window .window_contents {
    flex: 1;
    display: flex;
}
.window iframe {
    flex: 1;
    width: 100%;
    height: 100%;
}
.icons {
    display: flex;

}

.desktop-icon {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    width: calc(64px + 1rem);
    cursor: pointer;
    padding: 1rem;
}

.desktop-icon .icon {
    font-size: 64px;
}
.desktop-icon .title {
    text-align: center;
}

.desktop-icon:hover .title {
    background: black;
    color: white;
}

.desktop-icon:active {
    background: rgba(0,0,0,0.5);
}

iframe.dragging {
    display: none;
}

.dragging-text {
    margin: 0;
    font-size: 4rem;
    color: red;
}

.clock {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    font-size: 10vw;
    margin: 0;
}